<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <title>V-if</title>
</head>
<body>
    <div id="app">
        <button @click="switchShow" >Click</button>
        <div v-if="isShow"><h1>Hello1</h1></div>
        <div v-if="!isShow"><h1>Hello2 </h1></div>
        <h1>{{ isShow }}</h1>
    </div>
    <script>
        const App= {
            data(){
                return{
                    isShow: false
                }
            },
            methods: {
                switchShow() {
                    this.isShow=!this.isShow
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>