<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    

    <title>v-model</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        <h3>{{message}}</h3>
        <input type="email" v-model="email">
        <h3>{{email}}</h3>
        <input type="number" v-model="number">
        <h3>{{number}}</h3>
        
    </div>

    <script>
        const App ={
            data(){
                return{
                    message: 'hello',
                    email: '63160216@go.buu.ac.th',
                    number: 0
                }
            },
            methods: {

            }
        } 
        Vue.createApp(App).mount('#app')

    </script>
</body>
</html>