<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <title>HelloWorld</title>
</head>
<body>
    <div id="app">
        <H1>{{message}}</H1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque iusto tempora explicabo illum vitae 
            quisquam corrupti, dolorem earum ab minus?</p>
    </div>

    <div id="app2">
        <H1>{{count}}</H1>
    </div>

    <script>
        const App = { /*Build Object*/
            data(){
                return {
                    message: 'Hello Nim'
                }
            }
        }
        Vue.createApp(App).mount('#app')

        const App2 = { /*Build Object*/
            data(){
                return {
                    count: 1
                }
            }
        }
        Vue.createApp(App2).mount('#app2')
    </script>
</body>
</html>