<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Counter</title>
</head>
<body>
    <div id="app">
        <h1>{{counter}}</h1>
        <button @click="dec">Click -</button>
        <button @click="inc" style="margin-left: 5px;">Click +</button>
    </div>

    <script>
        const App = { /*Build Object*/
            data(){
                return {
                    counter: 0
                }
            },
            methods: {
                inc(){
                    this.counter++
                },
                dec(){
                    if(this.counter==0) return
                    this.counter--
                }
            }
        }
        Vue.createApp(App).mount('#app')
        
    </script>
</body>
</html>