<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>V-html</title>
</head>
<body>
    <div id="app" style="text-align: center; margin-top: 5px;">
        <textarea cols="30" rows="10" v-model="html"></textarea>
        <div>{{html}}</div>
        <div v-html="html"></div>
    </div>

    <script>
        const App={
            data(){
                return{
                    html: ' '
                }
            }
        }

        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>