<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Compute</title>
</head>
<body>
    <div id="app">
        <input type="number" v-model="celcius"><button @click="convertToFahlenheit()">Convert to Fahlenheit</button>
        <h1>{{ fahlenheit }}</h1>
    </div>

    <script>
        const App= {
            data(){
                return {
                    celcius: 25,
                    fahlenheit: 0
                }
            },
            methods: {
                convertToFahlenheit(){
                    this.fahlenheit = 1.8 * this.celcius + 32
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>